@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
*{
  margin: 0;
  padding: 0;font-family: 'ZCOOL QingKe HuangYou', cursive;
}
$head-height: 8vh;
#head{
  width:100vw;
  height:$head-height;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  #title{
    padding: 1%;
  }
  *{
    color: rgba(163, 146, 146, 0.596);
  }
  position: relative;
}

#body{
  background: rgb(0, 0, 0); 
  width:calc( 100% - 10px );
  height:100vh - $head-height;
  display: flex;
  flex-wrap: unset;
  padding: 0 5px 0 5px;
  flex-direction: row-reverse;
  #visual{
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    #pics{
      width:90%;
      height:99%;
      border: 2px solid white;
    }
  }
  #ui{
    width:100%;
    height:95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    #console:hover{
      border: 2px white solid;  
      
    }
    #console{
      width:100%;
      height:35%;
      padding: 5px;
      border: 2px gray solid;  
      #options{
        width:100%;
        height:calc( 100% - 15px );
        border-top: 2px solid gray;
      }
      form{
        display: inline;
      }
      *{
        font-size: 0.95em;
      }
    }
  }
  #output{
    width:100%;
    height:40%;
    border: 2px gray solid;
    padding: 5px;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-button {
    background: transparent; 
  }
  ::-webkit-scrollbar-track{
    background: rgba(27, 25, 25, 0.733);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background: red;
    height:20px;
  }
  input{
    background: transparent;
    border: none;
    outline: none;
    color: transparent;
    text-shadow: 0 0 0 gray;

    border-bottom: 2px solid rgba(27, 25, 25, 0.733);
    &:focus {
      outline: none;
    }
    
  }
  *{
    color: white;
  }
  #output:hover{
    border: 2px white solid;

  }
}